<div id="content" class="col-xl-10 col-xl-offset-2">
    <header id="header" class="col-xl-12" [style.background]="headerColor">
      <h1> {{title}}</h1>
    </header>
    <nav id="nav" class="col-xl-12">
      <ul>
        <li><a [routerLink]= "['/home']" [routerLinkActive]="['activado']">Home</a></li>
        <li><a [routerLink]= "['/productos']" [routerLinkActive]= "['activado']">Productos</a></li>
        <li><a href=""> Crear productos</a></li>       
      </ul>
    </nav>

    <section id="main" class="col-xl-12">
      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet>

    </section>

    <footer id="footer" class="col-xl-12">
        Angular 4
    </footer>
</div>
